{% extends 'index.html' %}
{% block body %}
<p>Enter inputs here.</p>
<form action="/data" method = "POST">
<p><strong>Activate Accelerometer </strong>
    <div class="wrapper-class">
        <input type="radio" id="radio1" name='activate'>
        <label for="radio1">yes (default)</label>
        <input type="radio" id="radio2" name='activate'>
        <label for="radio2">no</label>
    </div>
</p>
<p><strong>Gyroscope mode (power-down, low-power, normal mode) </strong>
    <div class="wrapper-class">
        <input type="radio" id="radio1" name='mode'>
        <label for="radio1">power-down</label>
        <input type="radio" id="radio2" name='mode'>
        <label for="radio2">low-power</label>
        <input type="radio" id="radio3" name='mode'>
        <label for="radio3">normal (default)</label>
    </div>
</p>

<p><strong>Bypass mode</strong> <input type = "text" name = "bypass" /></p>
<p><strong>FIFO mode </strong><input type = "text" name = "fifo" /></p>
<p><strong>Continuous conversion mode </strong><input type = "text" name = "cont" /></p>
<p><strong>Cont. to FIFO mode</strong> <input type = "text" name = "cont_to_fifo" /></p>
<p><strong>Bypass to cont. Mode </strong> <input type = "text" name = "bypass_to_cont" /></p>
<p><input type = "submit" value = "Submit" /></p>
</form>
{% endblock %}