{% extends 'index.html' %}
{% block body %}
<div class="form-check">
    <script type="text/javascript">
      $(document).ready(function() {
        $("[name='modes']").change(function (){
          var val = $(this).val();
          if(val != "CC"){
            $("[name='convTable']").hide();
          }
          if(val == "CC"){
            $("[name='convTable']").show();
          }
        });
      });
    </script>
    <p>Enter inputs here.</p>
    <form action="/everything" method="POST">
      <h1>TMP117 temperature sensor</h1>
      <p>Features:</p>
      <ul>
        <li>
          Operating temperature range: -55°C to 150°C
        </li>
        <li>
          Supply range: 1.7v - 5.5v -55°C to 70°C or 1.8v - 5.5v -55°C to 180°C
        </li>
        <li>
          Programmable modes
        </li>
      </ul>
      <img src="ConversionCycleDiagram.png" alt="diagram">
      <label for="modes">Select a mode for the TMP117 sensor:</label>
      <select class="" name="modes">
        <option value="CC">Continuous Conversion</option>
        <option value="SD">Shutdown</option>
        <option value="oneshot">One Shot</option>
        <option value="alert">Therm/Alert mode</option>
      </select>
      <br></br>
        <table class="table" name="convTable">
          <tr>
            <th>CONV bits</th>
            <th>No averaging</th>
            <th>8 averages</th>
            <th>32 averages</th>
            <th>64 averages</th>
          </tr>
          <tr>
            <th>000</th>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.0155,1 id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                15.5ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.125,8 id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                125ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.5,32 id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                500ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=1,64 id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                1s
              </label>
            </td>
          </tr>
          <tr>
            <th>001</th>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.125,1 id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                125ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.125,8 id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                125ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.5,32 id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                500ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=1,64 id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                1s
              </label>
            </td>
          </tr>
          <tr>
            <th>010</th>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.250,1 id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                250ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.250,8 id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                250ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.5,32 id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                500ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=1,64 id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                1s
              </label>
            </td>
          </tr>
          <tr>
            <th>011</th>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.5,1 id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                500ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.5,8 id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                500ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=0.5,32 id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                500ms
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=1,64 id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                1s
              </label>
            </td>
          </tr>
          <tr>
            <th>100</th>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=1,1 id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                1s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=1,8 id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                1s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=1,32 id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                1s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=1,64 id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                1s
              </label>
            </td>
          </tr>
          <tr>
            <th>101</th>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=4,1 id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                4s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=4,8 id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                4s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=4,32 id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                4s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=4,64 id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                4s
              </label>
            </td>
          </tr>
          <tr>
            <th>110</th>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=8,1 id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                8s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=8,8 id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                8s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=8,32 id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                8s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=8,64 id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                8s
              </label>
            </td>
          </tr>
          <tr>
            <th>111</th>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=16,1 id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                16s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=16,8 id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                16s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=16,32 id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                16s
              </label>
            </td>
            <td>
              <input class="form-check-input" type="radio" name="convCycle" value=16,64 id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                16s
              </label>
            </td>
          </tr>
        </table>
        <h1>Accelerometer sensor</h1>
        <p><strong>Gyroscope mode (power-down, low-power, normal mode) </strong>
            <div class="wrapper-class">
                <input type="radio" id="radio1" name='gyro' value = "power_down">
                <label for="radio1">power-down</label>
                <input type="radio" id="radio2" name='gyro' value = "low_power">
                <label for="radio2">low-power</label>
                <input type="radio" id="radio3" name='gyro' value = "normal">
                <label for="radio3">normal (default)</label>
            </div>
        </p>
        <p><strong>Accelerometer mode</strong>
            <div class="wrapper-class">
                <input type="radio" id="radio1" name='accmode' value = "power_down">
                <label for="radio1">Bypass</label>
                <input type="radio" id="radio2" name='accmode' value = "low_power">
                <label for="radio2">FIFO</label>
                <input type="radio" id="radio3" name='accmode' value = "continuous_conversion">
                <label for="radio3">Continuous conversion</label>
                <input type="radio" id="radio3" name='accmode' value = "cont_to_fifo">
                <label for="radio3">Cont. to FIFO mode</label>
                <input type="radio" id="radio3" name='accmode' value = "byp_to_cont">
                <label for="radio3">Bypass to cont. Mode</label>
            </div>
        </p>
        <h1>Magnetometer sensor</h1>
        <p>BurstDataRate <input type = "text" name = "burstdatarate" /></p>
        <p>WOC threshold (x,y,z) <input type = "text" name = "tuple_threshold" /></p>
        <p><strong>Magnetometer mode</strong>
            <div class="wrapper-class">
                <input type="radio" id="radio1" name='magmode' value = "single">
                <label for="radio1">Single</label>
                <input type="radio" id="radio2" name='magmode' value = "burst">
                <label for="radio2">Burst</label>
                <input type="radio" id="radio3" name='magmode' value = "WOC_Absolute">
                <label for="radio3">Wake on change - absolute</label>
                <input type="radio" id="radio3" name='magmode' value = "WOC_Differential">
                <label for="radio3">Wake on change - differential</label>
            </div>
        </p>
        <button class="button" type="submit" name="button">Submit</button>
      </form>
      <p>Tuple: {{ power }}</p>
      <p>{{ inputs }}</p>

    </div>



{% endblock %}
