{% extends 'index.html' %}
{% block body %}


<body background="{{url_for('static', filename='GLEE_banner.png')}}">
<center> 
    <h2 style="color:white;"> Welcome To GLEE2023 </h2>
</center>

<a href="https://www.youtube.com/watch?v=24ujpW5nN5Q" rel="nofollow" target="_blank">
        <img height="300" src="https://camo.githubusercontent.com/73f6c1e909b03b5c5d4d8c9338f67a3232c32100de6dc78b7aed719742b3b375/68747470733a2f2f696d672e796f75747562652e636f6d2f76692f3234756a7057356e4e35512f302e6a7067" data-canonical-src="https://img.youtube.com/vi/24ujpW5nN5Q/0.jpg" style="max-width: 100%;">
</a>

{% endblock %}